# Supabase Configuration
# URL du projet Supabase
EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co

# Clé anonyme (Anon/Public API key)
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Google Places Configuration
# Clé publique google places
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=yout-google-places-api-key
